<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Espress Yo Self</title>
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Espress Yo Self</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="favorites">My Favorites</a></li>
        <li><a href="users/new">Sign Up</a></li>
        <li><a href="users/login">Login</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <h2>Find a place for coffee near you</h2>
      <h3>Time for some coding and coffee!</h3>
      <div class="span12">
        <form method="GET" action="/dashboard" id="custom-search-form" class="form-search form-horizontal pull-left">
          <div class="input-append span12">
            <input name="location" type="number" class="search-query mac-style" placeholder="Enter a Zip Code">
            <button type="submit" class="btn btn-secondary">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
    <div class="row">
      <% shops.forEach(shop => { %>
    <div class="col s4">
      <div class="card" style="width: 25rem; height ">
        <img class="card-img-top" src="<%= shop.image_url %>" style="width: 25rem; height: 17rem" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"><%= shop.name %></h4>
          <p class="card-text">(<%= shop.rating %>/5)</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= shop.categories[0].title %>  <%= shop.price %></li>
          <li class="list-group-item"><%= shop.location.display_address %></li>
          <li class="list-group-item"><%= shop.display_phone %></li>
        </ul>
        <div class="card-block">
          <a href="<%= shop.url %>" class="card-link">See me on Yelp</a>
        </div>
      <form method="POST" action="/favorites?location=<%= location %>">
        <input type="hidden" name="shop[name]" value="<%= shop.name %>">
        <input type="hidden" name="shop[rating]" value="<%= shop.rating %>">
        <input type="hidden" name="shop[image_url]" value="<%= shop.image_url %>">
        <input type="hidden" name="shop[title]" value="<%= shop.categories[0].title %>">
        <input type="hidden" name="shop[price]" value="<%= shop.price %>">
        <input type="hidden" name="shop[address]" value="<%= shop.location.display_address %>">
        <input type="hidden" name="shop[phone]" value="<%= shop.display_phone %>">
        <button class="btn waves-effect waves-light" type="submit" name="action">Save</button>
      </form>
    </div>
    </div>
    <% }) %>
  </div>
  </body>
  </html>
