<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Righteous" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
  <title>Espress Yo Self</title>

  <title>Espress Yo Self</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Espress Yo Self</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/dashboard">Go Back</a></li>
        <li><a href="users/login">Logout</a></li>
      </ul>
    </div>
  </nav>
  <body>

    <div class="title">
      <h2>My favorite shops</h2>
    </div>


    <div class="row">
      <% shops.forEach(shop => { %>
        <div class="col s4">
          <div class="card" style="width: 25rem; height ">
            <img class="card-img-top" src="<%= shop.image_url %>" style="width: 25rem; height: 17rem" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title"><%= shop.name %></h4>
              <p class="card-text">Rating: (<%= shop.rating %>/5)</p>
            </div>
            <ul class="list-group list-group-flush">
              <div class="shop-title">
                <li class="list-group-item"><%= shop.title %></li>
              </div>
              <div class="price">
                <li class="list-group-item">Price: <%= shop.price %></li>
              </div>
              <li class="list-group-item"><%= shop.address %></li>
              <li class="list-group-item"><%= shop.phone %></li>
            </ul>
            <form id="form" method="POST" action="favorites/delete?_method=DELETE">
              <input type="hidden" name="shop[id]" value="<%= shop.id %>">
              <button class="btn waves-effect waves-light" type="submit" name="action">Delete</button>
            </form>
          </div>
        </div>
        <% }) %>
      </div>

    </body>
    </html>
